:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

/* ================= SECTION SYSTEM ================= */

.section {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
}

.sectionInner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
